Repository realamirhe/react-aptor: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "package.json": "sort-package-json",
  "*": "prettier --write --ignore-unknown",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor: Update the project with new eslint conf
  .eslintrc.js
  .eslintrc.json
  package.json
  rollup.config.js
  src/index.ts
  src/use-aptor.ts
  tests/core.test.tsx
  tests/edge-case.test.tsx
  tests/render.test.tsx
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

test: Update core test to pass ci
  tests/core.test.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore: Fix the cjs build for react 16.8
  .github/workflows/test-multiple-versions.yml
  tests/edge-case.test.tsx
  tests/render.test.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore: Config the package dir for codesandbox ci
  .codesandbox/ci.json
Due: prettier --write --ignore-unknown

types: Enrich the aptor types
  src/use-aptor.ts
  tests/core.test.tsx
  tests/edge-case.test.tsx
  tests/render.test.tsx
  tests/type.test.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore: Update sed command for the jest.config file
  .github/workflows/test-multiple-builds.yml
Due: prettier --write --ignore-unknown

fix: Remove redundant react testing-library
  .github/workflows/test-multiple-builds.yml
  .github/workflows/test-multiple-versions.yml
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown

feat: Prevent the root packge to be published
  package.json
Due: sort-package-json, prettier --write --ignore-unknown

📦 react-aptor@2.0.0-alpha.1
  package.json
Due: sort-package-json, prettier --write --ignore-unknown

Add .deepsource.toml
  .deepsource.toml
Due: prettier --write --ignore-unknown

feat: Add new paka dev badge
  README.md
Due: prettier --write --ignore-unknown

docs: Update color palette images
  README.md
Due: prettier --write --ignore-unknown

docs: Update BTC wallet address
  README.md
Due: prettier --write --ignore-unknown

feat: Removes LGTM badge
  README.md
Due: prettier --write --ignore-unknown

feat: Bump the core packages
  yarn.lock
Due: prettier --write --ignore-unknown

feat: Release new version
  package.json
Due: sort-package-json, prettier --write --ignore-unknown

doc: Update maintainer wallet address
  README.md
Due: prettier --write --ignore-unknown

docs: Update maintainer wallet address title
  README.md
Due: prettier --write --ignore-unknown

Update README.md
  README.md
Due: prettier --write --ignore-unknown
